@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kaisei+HarunoUmi&family=Madimi+One&family=Vast+Shadow&display=swap');

html
 {
  height: 100vh;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  background: white;
  font-family: "Inter", sans-serif;
}
.heading {
  margin-left: 40vw;
  
}
.navbar{
display: flex;
flex-direction: row;  
align-items: center;
justify-content: center;
border-radius: 20px;
position: fixed;
top:40px;
margin-left : 20vw;
margin-bottom: 40px;
}
.navbar ul{
  display: flex;
 flex-direction: row;
  justify-content: space-around;
  background-color: rgba(242, 242, 242, 1);   
  width: 60vw;
  border-radius: 20px;
  list-style-type: none;
  font-size: 2rem;
  padding : 0 ;
  margin-left:2%;
  margin-right: 2%;
}

.navbar li {
  display: flex;
 flex-direction: row;
  justify-content: space-around;
  margin :0;
  background-color: rgba(242, 242, 242, 1);  
  padding: 2%;
  

}
.navbar li:hover {
  cursor: pointer;
  
}

 .item-grid.loaded{
 display: grid;
 grid-template-columns:repeat(4 , 1fr) ;
 grid-template-rows: repeat(1, 1fr);
 column-gap: 40px;
 margin-top: 170px;
 margin-left: 90px;
 opacity: 1; 

}
.item-grid {
  opacity: 0;
  transition: opacity 0.4s ease ;
}
.card {
  position: relative;
}

.card img {
  width: 200px; 
  height: 250px; 
  border-radius: 15px;
}
.badge {
  color: black;
  background-color: white;
  width: fit-content;
  padding: 1%;
  border-radius: 7px;
  position: absolute;
    top: 10px; 
    left: 10px;
}


button {
  background-color: black;
  color: white;
  width: 180px;
  padding: 4%;
  border-radius: 10%;
}
button:hover{
  cursor: pointer;
  background-color: cadetblue;
  color: black;
}

@media screen and (max-width: 767px) {
 .item-grid.loaded{
    display: grid;
    grid-template-columns:repeat(2 , 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    margin-top: 200px;
    row-gap: 40px;

   
   }
   .navbar{
    margin-left : 15vw;
    margin-bottom: 40px;
    top : 90px;
    }
    .heading {
      margin-left: 20vw;
    }

}

@media screen and (max-width: 572px) {
  .item-grid.loaded{
     display: grid;
     grid-template-columns:repeat(1, 1fr) ;
     grid-template-rows: repeat(4, 1fr);
     column-gap: 40px;
     margin-top: 200px;
     row-gap: 40px;
 
    
    }
    .navbar{
     margin-left : 15vw;
     margin-bottom: 40px;
     top : 90px;
     }
     .heading {
       margin-left: 20vw;
     }
 
 }
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .item-grid.loaded{
    display: grid;
    grid-template-columns:repeat(3 , 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    margin: 70px;
    row-gap : 20px;
   
   }
   .heading {
    text-align :center;
    margin-left :150px;
  }
}
